.collapsible{
	padding: 10px;
	padding-left:40%;
	padding-right:40%;
	margin:2%;
	
	
}
.code{
	background-color:#aaaaaa;
	margin-top:1%;
	margin-left:5%;
	margin-right:5%;
	padding:3%;
	
}
.code p{
	font-size:10px;
	margin-left:4%;
	
}


#header{
	background-color:#aaaaaa;
	margin-top:1%;
	margin-left:5%;
	margin-right:5%;
	padding:3%;
	
}
#javaC{
	background-color:#faa;
	margin-top:1%;
	margin-left:5%;
	margin-right:5%;
	padding:3%;
}
#pythonC{
	background-color:#afa;
	margin-top:1%;
	margin-left:5%;
	margin-right:5%;
	padding:3%;
}#WebC{
	background-color:#aaa;
	margin-top:1%;
	margin-left:5%;
	margin-right:5%;
	padding:3%;
}
button{
	background-color:#f8a;
	
}

#v1, #v2,#v3,#v4{
	max-width:100%;
	allign:center;
	font-size: 20px;
}
#v1,#v2,#v3,#v4 video{
	margin:5%;
	margin-left:10%;
	margin-right:10%;
	
}
